body {
	font-family: "Ubuntu";
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li {
	float: left;
}
li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 40px;
}
li img {
	height: 50px;
}
.right {
	float: right;
}

.search-container {
	background-color: #0062CD;
	color: white;
}

.house-list-element a {
	text-decoration: none;
	color: black;
}
.house-list-element img {
	width: 100px;
	height: 100px;
	float: left;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

table h1 {
	text-align: center;
}

.full-input {
	width: 100%;
}
.almost-full-input {
	width: 75%;
}

input {
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #ccc;
}
input:hover {
	border: 1px solid black;
}

.search-input {
	text-align: center;
}

.button-input {
	background-color: #0062CD;
	color: white;
	border: none;
}
.button-input:hover {
	background-color: #0053B2;
	border: none;
}

.main-input {
	width: 30vw;
}

.label-input {
	padding-right: 30px;
}

.div-full-centered {
	position: fixed;
	top: 25%;
	width: 100%;
}