body {
	font-family: "Ubuntu";
	margin-left: 10vw;
	margin-right: 10vw;
}

.navigation {
	float: left;
	width: 78vw;
	height: 4vw;
	background-color: white;
	display: flex;
	padding: 1vw;
}
.navigation img {
	height: 100%;
}
.navigation a {
	text-decoration: none;
	color: #999;
	margin: auto;
	width: auto;
	margin-left: 0.75vw;
	margin-right: 0.75vw;
	font-size: 1.25vw;
	transition: color 0.25s;
}
.navigation a.title {
	font-size: 2vw;
	margin-right: 1.5vw;
	color: black;
}
.navigation a.right {
	margin-left: auto;
}
.navigation a:hover {
	color: black;
}

.search-container {
	background-color: #0062CD;
	color: white;
}

.house-list-element {
	height: 12vw;
}
.house-list-element a {
	text-decoration: none;
	color: black;
}
.house-list-element img {
	width: 21.3vw;
	height: 12vw;
	float: left;
	margin-right: 1.5vw;
	-webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15); 
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15);
}
.house-list-element h1 {
	font-size: 2.5vw;
	font-weight: 100;
	margin-bottom: 0;
}
.house-list-element h2 {
	font-size: 1.5vw;
	font-weight: 100;
	margin-top: 0;
	margin-bottom: 0.5vw;
}
.house-list-element p {
	font-size: 1vw;
	font-weight: 100;
}
.house-list-element .icon {
	height: 1vw;
	width: 1vw;
	float: none;
	margin: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	image-rendering: -moz-crisp-edges; /* Firefox */
	image-rendering: -o-crisp-edges; /* Opera */
	image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

table h1 {
	text-align: center;
}

.full-input {
	width: 100%;
}
.almost-full-input {
	width: 75%;
}

input {
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #ccc;
}
input:hover {
	border: 1px solid black;
}

.search-input {
	text-align: center;
}

.button-input {
	background-color: #0062CD;
	color: white;
	border: none;
}
.button-input:hover {
	background-color: #0053B2;
	border: none;
}

.main-input {
	width: 30vw;
}

.label-input {
	padding-right: 30px;
}

.div-full-centered {
	position: fixed;
	top: 25%;
	width: 100%;
}

footer {
	padding-top: 2vw;
	padding-bottom: 0.5vw;
}