body {
	font-family: "Ubuntu";
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li {
	float: left;
}
li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 40px;
}
li img {
	height: 50px;
}
.right {
	float: right;
}

.search-container {
	background-color: #0062CD;
	color: white;
}

.house-list-element a {
	text-decoration: none;
	color: black;
}
.house-list-element img {
	width: 100px;
	height: 100px;
	float: left;
}