<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Pijnacker-Nootdorp x @ViewData["Title"]</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body onload="onLoad()">
	<ul>
		<li><img src="~/assets/icon.png" /></li>
		<li><a asp-area="" asp-controller="Home" asp-action="Index">Huizen in Pijnacker-Nootdorp</a></li>
		@if (Website.User != null)
		{
			<li class="right"><a asp-area="" asp-controller="Home" asp-action="Cart">Hallo, @Website.User.FirstName</a></li>
			<li class="right"><a asp-area="" asp-controller="Home" asp-action="Logout">Log uit</a></li>
			<li class="right"><a asp-area="" asp-controller="Home" asp-action="Cart">Winkelmandje</a></li>
		}
		else
		{
			<li class="right"><a asp-area="" asp-controller="Home" asp-action="Login">Login</a></li>
		}
	</ul>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2021 - Pijnacker-Nootdorp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
