<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Pijnacker-Nootdorp x @ViewData["Title"]</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

	<div class="navigation">
		<a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/assets/icon.png" /></a>
		<a asp-area="" asp-controller="Home" asp-action="Index" class="title">Huizen in Pijnacker-Nootdorp</a>
		<a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
		@if (Website.User != null)
		{
			<a asp-area="" asp-controller="Home" asp-action="Cart" class="right">Winkelmandje</a>
			<a asp-area="" asp-controller="Home" asp-action="Logout">Log uit</a>
			<a asp-area="" asp-controller="Home" asp-action="Profile">Hallo, @Website.User.FirstName</a>
		}
		else
		{
			<a asp-area="" asp-controller="Home" asp-action="Register" class="right">Registreer</a>
			<a asp-area="" asp-controller="Home" asp-action="Login">Login</a>
		}
	</div>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer>
		&copy; 2021 - Joseph Thomas & Tim Logtenberg
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
