@model IEnumerable<House>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">CONTACT</h1>
<h1>Login</h1>
<form method="post">
    first name: <input type="text" name="firstName" />
    last name: <input type="text" name="lastName" />
    <input type="submit" />
</form>
<p>FirstName:
@if (ViewData["FirstName"] != null && !string.IsNullOrWhiteSpace(ViewData["FirstName"].ToString()))
{
    <p>@ViewData["FirstName"]</p>
}
else
{
    <p>No input</p>
}
;
<p>LastName:
@if (ViewData["LastName"] != null && !string.IsNullOrWhiteSpace(ViewData["LastName"].ToString()))
{
    <p>@ViewData["LastName"]</p>
}
else
{
    <p>No input</p>
}