@model User

@{
    ViewData["Title"] = "Home Page";
}

<h1>Contact</h1>
<p>Email: 110737@st-maartenscollege.nl</p>
<p>Telefoonnummer: +31 6 16238992</p>
<form method="post">
	Naam: <input type="text" name="name" />
	@Html.ValidationMessageFor(m => m.FirstName)<br />
	Emailadres: <input type="text" name="email" />
	@Html.ValidationMessageFor(m => m.Email)<br />
	Bericht: <input type="text" name="message" />
	@Html.ValidationMessageFor(m => m.Email)<br />
	<input type="submit" value="Verstuur" />
</form>