@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Huizen in Pijnacker-Nootdorp</h1>
    <form action="/action_page.php">
        <label for="search">Zoeken:</label> <input type="text" id="search" name="search" value="Huis"><br>

        <label for="minimum_price">Minimum: €</label><input type="text" id="minimum_price" name="minimum_price" value="100000"><br>
        <label for="maximum_price">Maximum: €</label><input type="text" id="maximum_price" name="maximum_price" value="200000"><br><br>

        <label for="maximum_price">Toegankelijkheid:</label> <input type="text" id="maximum_price" name="maximum_price" value="200000"><br>
        <label for="maximum_price">Bouwjaar:</label> <input type="text" id="maximum_price" name="maximum_price" value="200000"><br><br>

        <label for="maximum_price">Oppervlakte:</label> <input type="text" id="maximum_price" name="maximum_price" value="200000"><br>
        <label for="maximum_price">Aantal kamers:</label> <input type="text" id="maximum_price" name="maximum_price" value="200000"><br><br>

        <input type="submit" value="Submit">
    </form>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
