@model LoginData

@{
	ViewData["Title"] = "Login";
}

<div class="full-form">
	<form method="post">
		@if (Model.EmailIsWrong)
		{
			<br />
			<p>Wij herkennen deze e-mail niet. Misschien moet u eerst registreren?</p> <a href="/register">Registreer hier!</a><br /><br />
		}
		<div class="row">
			<div class="one-third-cell"></div>
			<div class="one-third-cell">
				<h1>Login</h1>
			</div>
		</div>
		<div class="row"></div>
		<div class="row">
			<div class="one-third-cell label-container">
				<label>Email address:</label>
			</div>
			<div class="one-third-cell">
				<input type="text" name="email" value="@Model.Email" />
			</div>
			<div class="one-third-cell">
				@Html.ValidationMessageFor(m => m.Email)
			</div>
		</div>
		<div class="row">
			<div class="one-third-cell label-container">
				<label>Password:</label>
			</div>
			<div class="one-third-cell">
				<input type="password" name="password" id="password" autocomplete="off" value="@Model.Password" />
			</div>
			<div class="one-third-cell">
				<input type="checkbox" onclick="togglePassword()"> Toon wachtwoord
				@Html.ValidationMessageFor(m => m.Password)
			</div>
		</div>
		<div class="row">
			<div class="one-third-cell"></div>
			<div class="one-third-cell">
				<input class="full-input button-input" type="submit" value="Login" />
			</div>
		</div>
	</form>
</div>

@section Scripts {
	<script>
		function togglePassword() {
			var x = document.getElementById("password");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}
	</script>
}