@model LoginData

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form method="post">
    Email Address: <input type="text" name="email" />
    @Html.ValidationMessageFor(m => m.Email)<br />
    Password: <input type="password" name="password" />
    @Html.ValidationMessageFor(m => m.Password)<br />
    <input type="submit" value="Login" />
</form>