@model LoginData

@{
    ViewData["Title"] = "Home Page";
}

<h1>Register</h1>
<form method="post">
    Email Address: <input type="text" name="email" />
    @Html.ValidationMessageFor(m => m.Email)<br />
    Password: <input type="text" name="password" />
    @Html.ValidationMessageFor(m => m.Password)<br />
    <input type="submit" />
</form>