@model User

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form method="post">
    First Name: <input type="text" name="firstName" />
    @Html.ValidationMessageFor(m => m.FirstName)<br />
    Last Name: <input type="text" name="lastName" />
    @Html.ValidationMessageFor(m => m.LastName)<br />
    Email Address: <input type="text" name="email" />
    @Html.ValidationMessageFor(m => m.Email)<br />
    Password: <input type="password" name="password" />
    @Html.ValidationMessageFor(m => m.Password)<br />
    <input type="submit" value="Registreer" />
</form>